p {
    color: white !important;
}
html {
    align-items: center;
    margin: 0;
}
.reset {
  align-items: center;
  background: yellow;
  font-color: white;
  right: 5%;
  bottom: 5%;
  z-index: 25;
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
body {
    background: black;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 600px 600px;
    /*-webkit-filter: blur(20px); filter: blur(20px);    */
}
.PlayerBackground {
    z-index: -1;
    background: black;
    -webkit-filter: blur(20px); filter: blur(20px);    
}
img {
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
}

/* Console logs */
.consolelogs {position: scroll; font-size: 5px; border-radius:10px; text-align:left; word-wrap:break-word; white-space: nowrap; /*text-overflow: ellipsis;*/ overflow: hidden; font-size: 25px; background: #333; width: 100%; height: 400px auto;}
.log-boolean {text-align:left; font-size: 20px; color: #25E889;}
.log-undefined {text-align:left; font-size: 20px; color: red;}
.log-object {text-align:left; font-size: 20px; color: lime;} 
.log-date {text-align:left; font-size: 20px; color: yellow;}
.log-string {text-align:left; font-size: 20px; color: white;}
.log-number {text-align:left; font-size: 20px; color: cyan;}

/*Update Controller*/
.NewUpdate {z-index: 6; position: fixed;
  top: 45%; left: 50%; transform: translate(-50%, -50%);
  width: 500px; height: 550px; background-color: white;
  text-align: center; align-items: center; font-size: 18pt;
  border-radius: 10px;      
}
.UpdateBackground {
  z-index: 5; position: fixed; top: 50%; left: 50%;
  transform: translate(-50%, -50%); width: 100%;
  height: 100%; background-color: black; opacity: 0.5;
}
.UpdateCB {
  z-index: 7; position: fixed; left: 50%; top: 85%;
  transform: translate(-50%, -50%); width: 300px;
  height: 50px; color: white; background-color: #0144FE;
  /*background-image: linear-gradient(cyan, lightblue);*/
  border-radius: 10px; font-size: 24px;
}
.UpdateIMG {
  z-index: 8; position: fixed; left: 50%; top: 45%;
  transform: translate(-50%, -50%); border-radius: 10px;
}
.UpdateTXT {
  z-index: 7; position: fixed; left: 50%; top: 20%;
  transform: translate(-50%, -50%); text-align: center;
  color: black; font-size: 22px; width: 430px;
}

.ArtistList {
  width: 100%; height: 5%; bacground-color: black;
  overflow-x: auto; white-space: nowrap;
}
.ArtistList > .column {
  padding: 0 8px; text-align: center; align-items: center;
  display: inline-block; float: none;
}
.ArtistList:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;
}
.ArtistList-ArtistSection {
  position: absolute;
  background-color: gray;
  width: 150px;
  height: 200px;
  overflow: auto;
  margin-left: 0%;
  text-align: center;
  align-items: center;
}


/*AlbumList*/
.AlbumList {
  width: 100%; height: 5%; bacground-color: black;
  overflow-x: auto; white-space: nowrap;
}
.AlbumList > .column {
  padding: 0 8px; text-align: center; align-items: center;
  display: inline-block; float: none;
}
.AlbumList:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;
}
.column {
  float: left;
  width: 25%;
  align-items: center;
  text-align: center;
}
.AlbumList-AlbumSection {
  position: absolute;
  background-color: gray;
  width: 150px;
  height: 200px;
  overflow: auto;
  margin-left: 0%;
  text-align: center;
  align-items: center;
}

/*MiniPlayerController*/
.MiniPlayerContainer {
  position: fixed;
  align-items: center;
  text-align: center;
  min-height: 50px;
  bottom: 0;
  z-index: 12;
  left: 0;
  width: 100%;
  border-radius: 10px;
  background: #585858;    
}
.MiniPlayerContainer-maximize {
  position: fixed;
  align-items: center;
  text-align: center;
  min-height: 50px;
  bottom: 0;
  z-index: 12;
  left: 0;
  width: 100%;
  border-radius: 10px;
  background: #585858;
  animation-name: Maximize-Player;
  animation-duration: 1s;
  animation-delay: 0.05s;
  animation-fill-mode: forwards;
}

.MiniPlayerContainer-minimize {
  position: fixed;
  align-items: center;
  text-align: center;
  min-height: 50px;
  bottom: 0;
  z-index: 12;
  left: 0;
  width: 100%;
  border-radius: 10px;
  background: #585858;
  animation-name: Minimize-Player;
  animation-duration: 1s;
  animation-delay: 0.05s;
  animation-fill-mode: forwards;
}
.MiniPlayer-EMBTN {
  text-align: left;
  left: 20px;
  width: 100px;
    
  margin-left: 10px;
  font-size: 24px;
  color: white;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes Minimize-Player {
    from {bottom: 0; height: 100%;}
    to {bottom: 0; height: 60px;}
}
@-webkit-keyframes Maximize-Player {
    from {bottom: 0; height: 50px;}
    to {bottom: 0; height: 100%;}
}
@keyframes Minimize-Player {
    from {bottom: 0; height: 100%;}
    to {bottom: 0; height: 60px;}
}
@keyframes Maximize-Player {
    from {bottom: 0; height: 50px;}
    to {bottom: 0; height: 100%;}
}


/*Help*/
.help {
  position: relative;
  width: 280px;
  min-height:480px; /*460px or 450*/
  background: #333;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 10px 8px -8px #333;
  align-items: center;
  text-align: center;
}

/*PlaylistController*/
.PlaylistContainer {
  position: relative;
  width: 65%;
  min-height:80vh; /*550px*/
  background: #333;
  overflow: auto;
  right: 5px;
  float: right;
  border-radius: 10px;
  box-shadow: 0 10px 8px -8px #333;
  align-items: center;
  text-align: center;
}
.PlaylistContainer-dropdown {
  position: relative;
  display: block;
  align-items: center;
  height: 55px; /*51px*/
  width: 100%;
  top: 29px;
}
.PlaylistContainer-dropdown-content {
    /*display: none;*/
    position: absolute;
    background-color: none;
    width: 100%;
    overflow: auto;
    margin-left: 0%;
}
.PlaylistContainer-dropdown-content li a {
    color: white;
    /*padding: 16px 50px;*/
    padding: 10px 50px;
    text-decoration: none;
    text-align: left;
    display: block;
    border-top: 0.9px solid #9B9898;
}
/*.PlaylistContainer-dropdown a:hover {background-color: #ddd; color: black;} #ddd*/
.PlaylistContainer-dropdown-content li {list-style: none;}
.MusicSearch {
    width: 96.5%; /*96.5%;*/
    height: 30px;
    position: relative;
    border-radius: 10px;
    background: white;
    color: gray;
    float: left;
    left: 0;
}


/*MainController (mscontainer)*/
.mscontainer {
  position: relative;
  width: 330px;
  min-height:90vh; /*550px*/
  background: #333;
  overflow: auto;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 10px 8px -8px #333;
  align-items: center;
  text-align: center;
}
.MImgContsiner {
    position: fixed; /*position: absolute;*/
    top: 4%;
    bottom: 0%;
    width: 300px; 
    height: 600px; /*300px;*/
}
.musicimg {
    position: fixed; /*position: absolute;*/
    /*top: 4%;
    bottom: 0%;*/
    width: 300px; 
    height: 300px; /*300px;*/
}
.btn {
    background-color: black; /*DodgerBlue;*/
    width: 20px;
    height: 20px;
    border: 1px solid white;
    color: white;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 40px;
    text-align: right;
    float: center;
    overflow: auto;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10%; /*10%*/
    position: center;
    align-items: center; 
    justify-content: center;
    margin-bottom: 0%;
}
.btn:hover {
    /*background-color: white;*/
}
.slider {
    -webkit-appearance: none;
    width: 90%;
    margin-top: 5%; /*2%*/
    height: 5px; /*15px*/
    border-radius: 5px;
    background: solid white; /*#4CAF50*/    
    opacity: 1;
    position: center;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; /*25px*/
    height: 20px; /*25px*/
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.percent-container {
    position: relative;
    height: 30px;
}
.percent {
    position: absolute;
    top: 2%;
    color: white;
    display: inline-block;
    left: 20px;
}
.percentt {
    position: absolute;
    color: white;
    display: inline-block;
    right: 20px;
}

.audiotitle {
    overlay: auto;
    margin-bottom: 4%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    font-size: 26px;
}

.audiomaker {
    overlay: auto;
    margin-bottom: 0%; /*2%*/
    margin-top: 1%; /*-5%*/
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

.fwdbtn {
    /*background-color: lime;*/
    position: center;
    width: 50px;
    height: 30px;
    border: none;
    color: white;
    float: center;
    overflow: auto;
    cursor: pointer;
    font-size: 22px;
    border-radius: 30px;
    text-align: center;
    float: center;
    overflow: auto;
    margin-left: auto;
    margin-right: 20%;
    margin-top: -13.6%; /*-14*/
    position: center;
    align-items: center; 
    justify-content: center;
    margin-bottom: 0%;
}

.rwdbtn {
    /*background-color: lime;*/
    position: center;
    width: 50px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 22px;
    border-radius: 30px;
    text-align: center;
    float: center;
    overflow: auto;
    margin-left: 20%;
    margin-right: auto;
    margin-top: -8.9%; /*-8.9%*/
    position: center;
    align-items: center; 
    justify-content: center;
    margin-bottom: 0%;
}

.dropbtn {
  background-color: none;
     color: white;
     font-size: 16px;
     border: none;
     cursor: pointer;
     bottom: 5%;
     position: absolute;
     display: inline-block;
     right: 0;
    z-index: 5;
}

.dropbtn2 {
  background-color: none;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  bottom: 5%;
  position: absolute;
  display: inline-block;
  left: 0;
  z-index: 5;
}

.dropdown-btn-container {
    /*position: relative;
    display: block;
    align-items: center;*/
}

.dropbtnpos {
    margin-left: 35%; cursor: pointer;  float: center;  overflow: auto;
}

.dropdown {position: relative; display: block; align-items: center; height: 55px; /*51px*/}

.dropdown-content {
    display: none; position: absolute;
    background-color: none; width: 331px; 
    overflow: auto; margin-left: 0%;
}

.dropdown-content a {
    color: white; padding: 10px 50px;
    text-decoration: none; text-align: left;
    display: block; border-top: 0.9px solid #9B9898;
}

.dropdown a:hover {color: black;} /*#ddd background-color: #ddd; */
.dropdown-content li {list-style: none;}
.show {display:block;}
.dropbtnclick {color: lime;}

.playlistnames {color: white; text-align: center;}
.Playlistartist {color: lime; text-align: right;}
.Playlistartist:hover {color: white;}

.Containeralert {
   width:330px;
   min-height:460px; /*400px or 450*/
   background-color: darkgray;
   overflow:auto;
   margin:20px/auto;
   border-radius:10px;
   border: none;
   box-shadow:0 10px 8px -8px #333;
   position: scroll;
   align-items: center; 
   text-align: center;
   z-index: 232;
   -webkit-filter: blur(8px);
}

.Containeralertext {z-index: 243; overflow: auto;}

.shufflebtn {
    background-color: none;
    width: 50px;
    height: 30px;
    border: none;
    color: white;
    font-size: 22px;
    bottom: 20%;
     position: absolute;
     display: inline-block;
     right: 0;
    overflow: auto;
}

.loopbtn {
    background-color: none;
    width: 50px;
    height: 30px;
    border: none;
    color: white;
    font-size: 22px;
    bottom: 20%;
    position: absolute;
    display: inline-block;
    left: 0;
    overflow: auto;
}

.simg {width: 50%; height: 50%; margin-right: 50%;}
